/* App.css */
/* .navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
}

.nav-link {
  font-weight: 500;
  transition: 0.3s;
}

.nav-link:hover {
  color: grey !important;
} */
